*.exe
*.in
*.out
*.o
*.so
*.class
*.dll
.vscode/c_cpp_properties.json
.vscode/c_cpp_properties.json.disable
.vscode/classpath
Java/MinecraftServerInstaller
Java/NihongoNoTango
Java/Tetris
Other/MarkdownBlog
Python/TensorFlow/venv
Python/AniGamerDownloader
Python/AniGamer
Angular