.list-view{
    -fx-background-color: #303030;
    -fx-border-color:#303030;
    -fx-arrows-visible: false;
    -fx-tooltip-visible: false;
}
.list-cell{
    -fx-background-color: #303030;
}
.scroll-bar: horizontal , .scroll-bar:vertical{
     -fx-background-color:transparent;
 }
 .scroll-bar: horizontal .track,
 .scroll-bar: vertical .track{
     -fx-background-color:transparent;
     -fx-border-color: transparent;
     -fx-background-radius: 0em;
 }
 .scroll-bar:vertical .thumb{
     -fx-background-color: transparent;
 }
 .scroll-bar:vertical .thumb:hover{
     -fx-background-color:  transparent;
 }
 .list-view > .corner{
     -fx-background-color: #303030;
 }