.scroll-pane{
    -fx-background-color: #303030;
    -fx-background-radius: 10px;
}
.scroll-bar: horizontal , .scroll-bar:vertical{
    -fx-background-color:transparent;
}
.increment-button, .decrement-button{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}
.increment-arrow, .decrement-arrow{
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}

.scroll-bar: horizontal .track,
.scroll-bar: vertical .track{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-background-radius: 0em;
}
.scroll-bar:vertical .thumb{
    -fx-background-color: transparent;
}
.scroll-bar:vertical .thumb:hover,
.scroll-bar:vertical .thumb:pressed{
    -fx-background-color: #505050;
    -fx-background-radius: 5em;
}
.scroll-bar:horizontal .thumb{
    -fx-background-color: transparent;
}
.scroll-pane > .corner{
    -fx-background-color: #303030;
}